.button {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #E4ECFC;
    text-transform: capitalize;

    background-color: #A68B5C;
    padding: 10px 20px;
    margin: 0 0 0 auto;
}

