.friends_sidebar {
    grid-area: FSB;
    padding: 0 5px 0 5px;
    overflow: auto;
}

.friends_sidebar__header {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

