@import "../../../ColorVar.module.css";

.textarea {
    color: var(--main-text);
    background-color: var(--secondary-text);

    resize: none;
    height: 100px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.textarea::placeholder {
    font-size: 14px;
    color: var(--secondary-bg);
    text-transform: capitalize;
}