.navbar_Left {
    background-color: #E4ECFC;
    padding: 20px;
    grid-area: N;
}

.navbar_Left__item {
    list-style: none;
}

.navbar_Left__item:not(:last-child) {
    margin-bottom: 5px;
}


.navbar_Left__item a {
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.navbar_Left__item a.active {
    background-size: 100% 3px;
    color: #B49463;
    font-weight: 700;
}