.navbar_Left {
    background-color: #5085A5;
    padding: 20px;
    grid-area: N;
}

.navbar_Left__item {
    list-style: none;
}

.navbar_Left__item a {
    color: white;
    text-decoration: none;
}

.navbar_Left__item a.active {
    color: green
}