@import "../../../ColorVar.module.css";

.app_header {
    background-color: var(--third-bg);
    grid-area: H;

    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app_header img {
    width: 50px;
    height: 50px;
}

.login_block {
    color: var(--secondary-text)
}

.login_block a {
    color: var(--secondary-text)
}

