.my_posts {
    overflow: auto;
    grid-area: MP;
    padding: 0 5px 0 2px;
}

.my_posts__header {
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;

}

.my_posts__new_post {
    margin-bottom: 10px;
}

.my_posts__input_label {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: capitalize;
    color: black;

    cursor: pointer;
}


.my_posts__input {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: black;

    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.my_posts__input::placeholder {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: grey;
    text-transform: capitalize;
}

.my_posts__textarea {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: black;

    resize: none;
    height: 100px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.my_posts__textarea::placeholder {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: grey;
    text-transform: capitalize;
}

.my_posts__button {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: white;
    text-transform: capitalize;

    background-color: #4CAF50;
    padding: 10px 20px;
    margin: 0 0 0 auto;
    border: 2px solid blueviolet;
}