.profile_info {
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
    grid-area: PI;
}

.profile_info__img {
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.profile_info__text {
}