.users_lists {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    overflow: auto;
    height: calc(100% - 35px);
}

.users_list {
    border: 2px solid #052718;
    border-radius: 20px;
    background-color: #ACC4CC;
    padding: 20px;
}

.users_list:not(:last-child) {
    margin-bottom: 15px;
}

.users_lists__pagination {
    margin: 0 auto;
}

.users_lists__dotes {
    color: #052718;
}


.users_up_list {
    display: flex;
    gap: 20px;
}

.users_up_list__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}

.users_up_list__status {
    flex: 1 1 auto;
    font-size: 30px;
}

.users_down_list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.users_down_list__left_fullName {
    font-size: 40px;
    font-weight: 700;
}

.users_down_list__btn_red {
    background-color: red;
}

