.dialog_list {
    overflow: auto;
    height: calc(100% - 35px);
}

.dialog {
    list-style: none;
    text-decoration: none;
}

.dialog a {
    text-decoration: none;
    color: pink;
}

.dialogs_items .active {
    color: blue;
}