.app_profile {
    padding: 10px 0 10px 8px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
            'PI PI'
            "MP FSB";
}


