.app-wrapper {
    background-color: #F7F9FB;
    margin: 0 auto;
    width: 1200px;

    display: grid;
    grid-template-areas:
    "H H H"
    "L C R";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    /*grid-gap: 10px;*/
}


