*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Segoe UI', sans-serif;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }
}

/* Стили при выделении текста */
*::selection {
    color: #E4ECFC;
    background-color: #052718;
}

/* Рамка при фокусе */
*:focus-visible {
    outline: 2px solid #052718;
}

/* Стили для скролла FireFox */
* {
    scrollbar-width: thin;
    scrollbar-color: #052718 #E4ECFC;
}

/* Стили для скролла Chrome */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal {
    background-color: #E4ECFC;
}


*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal {
    background-color: #052718;
    border: 3px solid #E4ECFC;
    border-radius: 5px;
}


*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #B49463;
}

body {
    background-color: #E4ECFC;
    overflow: hidden;
}

button {
    cursor: pointer;
    transition: all .2s ease;
}

/* Стили для hover эффекта кнопки */
button:hover {
    box-shadow: 0 0 0 2px #E4ECFC, 0 0 4px 4px #052718;
}

/* Стили при клике на кнопки */
button:active {
    transform: scale(0.96);
}

/* Стили для hover эффекта ссылок */
a {
    text-decoration: none;
    padding-bottom: 5px;
    background: linear-gradient(#052718, #052718) 0 75% / 0 2px no-repeat;
    transition: .5s;
    background-size: 0 3px;
}

a:hover {
    background-size: 100% 3px;
}


