*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
    }
}

/* Стили при выделении */
*::selection {
    color: blueviolet;
    background-color: yellow;
}

/* Рамка при фокусе */
*:focus-visible {
    outline: 2px solid red;
}

/* Стили для скролла FireFox */
* {
    scrollbar-width: thin;
    scrollbar-color: black #F7F9FB;
}

/* Стили для скролла Chrome */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal {
    background-color: #F7F9FB;

}


*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal {
    background-color: black;
    border: 3px solid #F7F9FB;
    border-radius: 5px;
}


*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: red;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F7F9FB;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
